.sidebarshow {
    /*background: rgba(192, 192, 192, 0.75); /* Fondo gris claro con opacidad del 75% */
    width: 15%; /* Ancho del menú lateral */
    padding-top: 3%;
    position: fixed;
    top: 5%;
    left: 1%;
    height: 100%;
    margin:auto;
    transition: 0.5s;
  }

  .sidebar {
    /*--background: rgba(192, 192, 192, 0.75); /* Fondo gris claro con opacidad del 75% */
    width: 5%; /* Ancho del menú lateral */
    padding-top: 3%;
    position: fixed;
    top: 5%;
    left: 1%;
    height: 100%;
    margin:auto;
    transition: 0.5s;
  }

  .sidebar .list-group-item p, .sidebar .sub-menu{
    display:none;
    transition: 0.5s;
  }

  .inline-elements {
    display: inline;
    padding-right: 5%;
  }

  
  .list-group-item{
    display:block;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .menu-item {
    cursor: pointer;
    width: 100%;
  }
  
  .menu-item.selected {
    background-color: #333; /* Color de fondo cuando se selecciona un elemento */
    color: white; /* Color de texto cuando se selecciona un elemento */
  }
  
  .menu-toggle{
    padding-right: 8px;
    width:100%;
  }

  .submenu {
    width: 100%;
  }

  .submenu-tag {
    font-size: small;
  }

  .menu-tag {
    padding-right: 8px;
    font-size: small;
  }
